@import 'modern-normalize/modern-normalize.css';

:root {
  --prism-color: #1c1b1d;
  --prism-bg: #fafaff;
  --prism-highlight: #e9e9ff;
  --prism-function: #0077bf;
  --prism-keyword: #5c33bd;
  --prism-class: #ab6000;
  --prism-scalar: #bd2a33;
  --prism-string: #4e7e06;
  --prism-comment: #355454;
  --main-width: 50rem;
  --link: #3a3a99;

  scrollbar-width: thin;
  line-height: 1.5;
  user-select: none;
  cursor: default;
}

::selection {
  background-color: #ff48;
}
