@import 'modern-normalize/modern-normalize.css';
@import '@fontsource-variable/inter';

:root {
  // Theme
  --dark: #eee;
  --main: #fff;
  --inactive: #35314c10;
  --focused: #fff;
  --hovered: #6c678f40;
  --text: #333;
  --accent: #05e2b7;
  --secondary-accent: #6762d5;
  --weak-color: #babbbb;
  --bg-secondary: #f2f2f2;

  // Main colors
  --bg: var(--main);
  --color: var(--text);
  --link: var(--accent);

  // Markdown colors
  --prism-color: #1c1b1d;
  --prism-bg: #fafaff;
  --prism-highlight: #e9e9ff;
  --prism-function: #0077bf;
  --prism-keyword: #5c33bd;
  --prism-class: #ab6000;
  --prism-scalar: #bd2a33;
  --prism-string: #4e7e06;
  --prism-comment: #355454;

  line-height: 1.5;
  cursor: default;
  scrollbar-width: thin;
}

::selection {
  background-color: #05e2b780;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(155 155 155 / 35%);
  border: transparent;
  border-radius: 20px;
}

* {
  outline: 0 solid transparent;
  transition: outline 0.1s ease-out;

  &:focus-visible {
    outline: 0.125em solid #07c9ac80;
  }
}

body {
  font-family: Inter, sans-serif;
  color: var(--color);
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
}

h1 {
  font-size: 1.8em;
  line-height: 1.25;
}

h2 {
  font-size: 1.5em;
  line-height: 1.33;
}

h3 {
  font-size: 1.25em;
}

a {
  color: inherit;

  &:hover,
  &:focus {
    color: var(--link);
  }
}

.icon {
  flex-shrink: 0;
  vertical-align: bottom;

  h1 &,
  h2 &,
  h3 & {
    width: 1.25em;
    height: 1.25em;
  }
}

:where(button, input) {
  display: inline-flex;
  gap: 0.25em;
  align-items: center;
  padding: 0.375em;
  color: #838383;
  background: #f2f2f2;
  border: 0.125em solid #f2f2f2;
  border-radius: 0.25em;
  outline: 0 solid transparent;
  transition: all 0.1s ease-in-out;
}

input {
  border-color: #e2e2e2;

  &:enabled {
    color: #000;
    background: #fff;

    &:hover,
    &:focus {
      border-color: #acacac;
    }

    &:focus-visible {
      outline: 0.25em solid #e2e2e280;
    }
  }
}

:where(button:enabled) {
  color: var(--text);
  background: #05e2b7;
  border-color: #05e2b7;

  &:where(:hover) {
    background: #04c19c;
    border-color: #04c19c;
  }

  &:where(:active) {
    background: #06ab8a;
    border-color: #06ab8a;
  }

  &:where(:focus-visible) {
    outline: 0.25em solid #05e2b780;
  }
}
