{
  "singleQuote": true,
  "quoteProps": "consistent",
  "plugins": [
    "prettier-plugin-jsdoc",
    "prettier-plugin-organize-imports",
    "prettier-plugin-pkg",
    "prettier-plugin-svelte"
  ]
}
